/*body {
    background-color: lightgreen;
}*/
h1 {
  font-family: "Haunted Eyes", Times, serif;
}
p {
  style: red;
}

p {
    border-style: solid;
    border-width: 3px;
    border-color: red;
    background-color: darkbrown; 
}
p {
    font-family: "Times New Romen", Times, serif;
}
p {
    font-size: 30px;
}

body {
    background-image: url("http://www.publicdomainpictures.net/pictures/30000/velka/wood-background-1354583158Nc4.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}
img {
    border-style: solid;
    border-width: 3px;
    border-color: red;
  font-size: 20px;
}
a {
  font-size: 30px;
}
