/*body {
    background-color: lightgreen;
}*/
h1 {
  font-family: 'Pacifico', cursive;
}
p {
  style: red;
}

p {
    border-style: solid;
    border-width: 3px;
    border-color: red;
    background-color: darkbrown;
}
p {
    font-family: "Times New Romen", Times, serif;
}
p {
    font-size: 30px;
}

body {
    background-image: url("http://i.stack.imgur.com/vhoa0.jpg")
}
img {
    border-style: solid;
    border-width: 3px;
    border-color: red;
  font-size: 20px;
}
a {
  font-size: 30px;
}
